body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('do.png');
}

h1 {
    color: #2c3e50;
}

p {
    color: #34495e;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


button:hover {
    background-color: #2980b9;
}
